# Addon input file
in.txt
installed.txt

# Settings for IntelliJ
.idea/

# Compiled pyc files
__pycache__/
.vscode/
desktop.ini
/in -pre 801.txt
/in.txt
/installed.txt
/in - Copy.txt
/installed.txtbak
/WoWAddonUpdater.py - Shortcut.lnk
/in - Copy (2).txt
/in.txtoff
